<!DOCTYPE html>

<html lang="en">

<head>
  <title>Slots - Groomer - Draft your vouge</title>
  <meta property="og:description" content="Groomer - Draft your vouge" />
  <meta property="og:title" content="Slots - Groomer - Draft your vouge" />
  <meta name="description" content="Groomer - Draft your vouge" />
  <meta property="og:description" content="Groomer - Draft your vouge" />
  <meta property="og:title" content="Groomer - Draft your vouge" />
  <meta name="description" content="Groomer - Draft your vouge" />
  <meta property="og:description" content="Groomer - Draft your vouge" />
  <meta property="og:title" content="thanks - Groomer - Draft your vouge" />
  <meta name="description" content="Groomer - Draft your vouge" />

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta charset="utf-8" />
  <meta property="twitter:card" content="summary_large_image" />
  <style>
    html {
      line-height: 1.15;
    }

    body {
      margin: 0;
    }

    * {
      box-sizing: border-box;
      border-width: 0;
      border-style: solid;
    }

    p,
    li,
    ul,
    pre,
    div,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin: 0;
      padding: 0;
    }

    button,
    input,
    optgroup,
    select,
    textarea {
      font-family: inherit;
      font-size: 100%;
      line-height: 1.15;
      margin: 0;
    }

    button,
    select {
      text-transform: none;
    }

    button,
    [type="button"],
    [type="reset"],
    [type="submit"] {
      -webkit-appearance: button;
    }

    button::-moz-focus-inner,
    [type="button"]::-moz-focus-inner,
    [type="reset"]::-moz-focus-inner,
    [type="submit"]::-moz-focus-inner {
      border-style: none;
      padding: 0;
    }

    button:-moz-focus,
    [type="button"]:-moz-focus,
    [type="reset"]:-moz-focus,
    [type="submit"]:-moz-focus {
      outline: 1px dotted ButtonText;
    }

    a {
      color: inherit;
      text-decoration: inherit;
    }

    input {
      padding: 2px 4px;
    }

    img {
      display: block;
    }
  </style>
  <style>
    html {
      font-family: Inter;
      font-size: 16px;
    }

    body {
      font-weight: 400;
      font-style: normal;
      text-decoration: none;
      text-transform: none;
      letter-spacing: normal;
      line-height: 1.15;
      color: var(--dl-color-gray-black);
      background-color: var(--dl-color-gray-white);

    }
  </style>
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" />
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" />

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  <link rel="stylesheet" href="/static/css/salon/style.css" />
  <link rel="stylesheet" href="/static/css/salon/animations.css" />
  <link href="/static/css/salon/slots.css" rel="stylesheet" />
</head>

<body>
  <div>

    <div class="slots-container">
      <div class="sidebar-sidebar sidebar-root-class-name1">
        <nav class="sidebar-nav">
          <span class="close-btn"><i class="fa-solid fa-xmark"></i></span>
          <a href="home.html" class="sidebar-navlink">
            <img alt="image" src="/static/images/salon/groomer_title-removebg-preview-200h.png" class="sidebar-image" />
          </a>
          <span class="sidebar-text"><span>Main Menu</span></span>
          <div class="sidebar-container">
            <a href="home.html" class="sidebar-navlink1">
              <div class="sidebar-container1">
                <svg viewBox="0 0 1024 1024" class="sidebar-icon">
                  <path
                    d="M554 128h342v256h-342v-256zM554 896v-426h342v426h-342zM128 896v-256h342v256h-342zM128 554v-426h342v426h-342z">
                  </path>
                </svg>
                <span class="sidebar-text01"><span>Dash board</span></span>
              </div>
            </a>
            <a href="order_list.html" class="sidebar-navlink2">
              <div class="sidebar-container2">
                <svg viewBox="0 0 1024 1024" class="sidebar-icon02">
                  <path
                    d="M384 597.333c58.923 0 112.256-23.893 150.869-62.507 38.571-38.571 62.464-91.904 62.464-150.827s-23.893-112.256-62.464-150.827c-38.613-38.613-91.947-62.507-150.869-62.507s-112.256 23.893-150.869 62.507c-38.571 38.571-62.464 91.904-62.464 150.827s23.893 112.256 62.464 150.827c38.613 38.613 91.947 62.507 150.869 62.507z">
                  </path>
                  <path
                    d="M384 896c150.101 0 256-42.667 256-85.333 0-85.333-100.437-170.667-256-170.667-160 0-256 85.333-256 170.667 0 42.667 96 85.333 256 85.333z">
                  </path>
                  <path
                    d="M896 512h-85.333v-85.333c0-23.595-19.072-42.667-42.667-42.667s-42.667 19.072-42.667 42.667v85.333h-85.333c-23.595 0-42.667 19.072-42.667 42.667s19.072 42.667 42.667 42.667h85.333v85.333c0 23.595 19.072 42.667 42.667 42.667s42.667-19.072 42.667-42.667v-85.333h85.333c23.595 0 42.667-19.072 42.667-42.667s-19.072-42.667-42.667-42.667z">
                  </path>
                </svg>
                <span class="sidebar-text02">
                  <span class="sidebar-text03">Order list</span>
                  <span class="sidebar-text04"></span>
                </span>
              </div>
            </a>
            <a href="slots.html" class="sidebar-navlink3">
              <div class="sidebar-container3">
                <svg viewBox="0 0 1024 1024" class="sidebar-icon06">
                  <path
                    d="M256 512q0-18 12-30t30-12 31 12 13 30-13 30-31 12-30-12-12-30zM768 512q0 18-12 30t-30 12-31-12-13-30 13-30 31-12 30 12 12 30zM470 128h42q160 0 272 112t112 272-112 272-272 112-272-112-112-272q0-192 154-306v-2l290 290-60 60-232-230q-66 82-66 188 0 124 87 211t211 87 211-87 87-211q0-112-74-196t-182-100v82h-84v-170zM470 726q0-18 12-31t30-13 30 13 12 31-12 30-30 12-30-12-12-30z">
                  </path>
                </svg>
                <span class="sidebar-text05">
                  <span class="sidebar-text06">slots</span>
                  <span class="sidebar-text07"></span>
                </span>
              </div>
            </a>
            <div class="sidebar-container4" data-bs-toggle="modal" data-bs-target="#supportnummodal">
              <svg viewBox="0 0 1024 1024" class="sidebar-icon08">
                <path
                  d="M512 42q160 0 272 113t112 271v428q0 52-38 90t-90 38h-256v-86h298v-42h-170v-342h170v-86q0-124-87-211t-211-87-211 87-87 211v86h170v342h-128q-52 0-90-38t-38-90v-300q0-158 112-271t272-113z">
                </path>
              </svg>
              <span class="sidebar-text08">
                <span class="sidebar-text09">support</span>
              </span>
            </div>
          </div>
        </nav>
        <div class="sidebar-logout">
          <button class="sidebar-button button">
            <span class="sidebar-text10">
              <span>Logout</span>
              <span class="sidebar-text12"></span>
            </span>
          </button>
        </div>
      </div>
      <div class="slots-container01">
        <div class="slots-container02">
          <svg viewBox="0 0 1024 1024" class="slots-icon">
            <path
              d="M810.667 725.333h-597.333c-47.061 0-85.333 38.272-85.333 85.333s38.272 85.333 85.333 85.333h597.333c47.061 0 85.333-38.272 85.333-85.333s-38.272-85.333-85.333-85.333z">
            </path>
            <path
              d="M810.667 426.667h-597.333c-47.061 0-85.333 38.272-85.333 85.333s38.272 85.333 85.333 85.333h597.333c47.061 0 85.333-38.272 85.333-85.333s-38.272-85.333-85.333-85.333z">
            </path>
            <path
              d="M810.667 128h-597.333c-47.061 0-85.333 38.272-85.333 85.333s38.272 85.333 85.333 85.333h597.333c47.061 0 85.333-38.272 85.333-85.333s-38.272-85.333-85.333-85.333z">
            </path>
          </svg>
          <h3 class="slots-text">Slots</h3>
          <div class="profile-profile profile-root-class-name">
            <img alt="image"
              src="https://images.unsplash.com/photo-1562159278-1253a58da141?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDIyfHxtYW4lMjBwb3J0dHJhaXR8ZW58MHx8fHwxNjI3MjkzNTM1&ixlib=rb-1.2.1&w=200"
              class="profile-image" />
            <div class="profile-container">
              <span class="profile-text"><span>John Doe</span></span>
              <span class="profile-text1"><span>View Profile</span></span>
            </div>
          </div>
        </div>
        <p class="slots-text01">
          <span>Find and organize your availabilities</span>
          <span>for our valuable customers</span>
        </p>
        <div class="slots-container03">
          <div class="morning_slots">
            <span class="slots-text04">Morning</span>
          </div>
          <div class="afternoon_slots">
            <span class="slots-text09"><span>Afternoon</span></span>
          </div>
          <div class="evening_slots">
            <span class="slots-text15">Evening</span>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- support number Modal -->
  <div class="modal fade" id="supportnummodal" tabindex="-1" role="dialog" aria-labelledby="supportnummodalTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
        </div>
        <div class="modal-body">
          <div style="white-space: nowrap; text-align: center;">
            <h6><b>Call Us :</b></h6>
            <h6><i class="fa fa-phone" style="font-size:20px; color:black; margin-right: 5px;"></i>+91 - XXXXXXXXXX</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/js/all.min.js"
    integrity="sha512-6PM0qYu5KExuNcKt5bURAoT6KCThUmHRewN3zUFNaoI6Di7XJPTMoT6K0nsagZKk2OB4L7E3q1uQKHNHd4stIQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script type="text/javascript">
    // socket connection
    const socket = io.connect('http://localhost:3000')
    socket.on('connected', (message) => {
        console.log(message)
    })

    var total = {{{ total }}}
    var count = 4;
    var seats_occupied = total.totalSittingCount - count;
    $(window).on('load', function () {
      // Slots color while refresh and pageloads

      if ($(this).is(":checked")) {
        $(this).parents('div.checkbox-toggle').parent().css("background-color", "");
        $(this).parents('div.checkbox-toggle').siblings("div").children().removeClass("chair-default").addClass("chair-inactive")
      }
      else {
        $(this).parents('div.checkbox-toggle').parent().css("background-color", "#E5E4E2");
        $(this).parents('div.checkbox-toggle').siblings("div").children().addClass("chair-default")
      }
    })

    $('.slots-icon').on("click", function () {
      $('.sidebar-sidebar').show()
      $('.sidebar-sidebar').addClass('slide-in-left')
      $('.sidebar-sidebar').css("z-index", "1")
    });

    $('.close-btn').on("click", function () {
      $('.sidebar-sidebar').removeClass('slide-in-left').addClass('slide-in-left-rev')
      setTimeout(function () {
        $('.sidebar-sidebar').hide()
        $('.sidebar-sidebar').removeAttr("style");
        $('.sidebar-sidebar').removeClass('slide-in-left-rev')
      }, 500);
    });

    $(document).on("click", '.checkbox-toggle input', function () {
      if ($(this).is(":checked")) {
        $(this).parents('div.checkbox-toggle').parent().css("background-color", "");
        $(this).parents('div.checkbox-toggle').siblings("div").children().removeClass("chair-default").addClass("chair-inactive")
        $(this).parents('div.checkbox-toggle').siblings("div").children().slice(0, seats_occupied).removeClass("chair-inactive").addClass("chair-active");

      }
      else {
        $(this).parents('div.checkbox-toggle').parent().css("background-color", "#E5E4E2");
        $(this).parents('div.checkbox-toggle').siblings("div").children().addClass("chair-default")
      }
    });

    $(document).on("click", '.slot-mb', function () {
      var ww = $(window).width();
      if (ww < 479) {

        if ($(this).siblings().css("display") == 'flex') {
          $(this).siblings().css("display", "");
        }
        else {
          $('.slot-mb').siblings().each(function () {
            if ($(this).css("display") == 'flex') {
              $(this).css("display", "")
            }
          });
          $(this).siblings().css("display", "flex");
        }
      }
    });

    $(function () {
      count_m = 0, count_a = 0, count_e = 0;
      var morning = new Date("November 13, 2022 12:00 pm");
      var afternoon = new Date("November 13, 2022 3:00 pm");
      var data = {{{ timings }}}
      $.each(data, function (key, value) {
        var target_time = new Date("November 13, 2022 " + JSON.stringify(value.slot_time).replaceAll('"', '').split("-")[1]);
        var checkedUi = `<div class="slots-container07">\
                      <div class="checkbox-toggle slots-icon004">\
                      <input type="checkbox" checked id="checkbox-btn-${value.id}" onclick="disable({{currentUser/id}}, '${value.id}', '${value.slot_type}')">\
                      <label></label>\
                    </div>`
        var unCheckedUi = `<div class="slots-container07" style="background-color: rgb(229, 228, 226);">\
                    <div class="checkbox-toggle slots-icon004">\
                    <input type="checkbox" id="checkbox-btn-${value.id}" onclick="enable({{currentUser/id}}, '${value.id}', '${value.slot_type}')">\
                      <label></label>\
                    </div>`
        var slot_UI = '<div class="slots-container06">\
                  <span class="slots-text05 slot-mb">'+ value.slot_time + '</span>' + 
                      `${value.available ? checkedUi : unCheckedUi}`;
        if (total.totalSittingCount > 6) {
          var counter = total.totalSittingCount;
          while (counter > 6) {
            slot_UI = slot_UI + '<div class="slots-container08">';
            for (var i = 1; i <= 6; i++) {
              slot_UI = slot_UI + '<svg viewBox="0 0 1024 1024" class="slots-icon006 chair-default">\
                          <path d="M726 554h-428v-340q0-34 26-60t60-26h256q34 0 60 26t26 60v340zM86 426h128v128h-128v-128zM810 426h128v128h-128v-128zM170 896v-256h684v256h-128v-128h-428v128h-128z"></path>\
                          </svg>' ;
            }
            slot_UI = slot_UI + '</div>';
            counter = counter - 6;
          }

          if (counter > 0 && counter <= 6) {
            slot_UI = slot_UI + '<div class="slots-container08">';
            for (var i = 1; i <= counter; i++) {
              slot_UI = slot_UI + '<svg viewBox="0 0 1024 1024" class="slots-icon006 chair-default">\
                          <path d="M726 554h-428v-340q0-34 26-60t60-26h256q34 0 60 26t26 60v340zM86 426h128v128h-128v-128zM810 426h128v128h-128v-128zM170 896v-256h684v256h-128v-128h-428v128h-128z"></path>\
                          </svg>' ;
            }
            slot_UI = slot_UI + '</div>';
          }
        }
        else {
          slot_UI = slot_UI + '<div class="slots-container08">';
          for (var i = 1; i <= total.totalSittingCount; i++) {
            slot_UI = slot_UI + '<svg viewBox="0 0 1024 1024" class="slots-icon006 chair-default">\
                        <path d="M726 554h-428v-340q0-34 26-60t60-26h256q34 0 60 26t26 60v340zM86 426h128v128h-128v-128zM810 426h128v128h-128v-128zM170 896v-256h684v256h-128v-128h-428v128h-128z"></path>\
                        </svg>' ;
          }
          slot_UI = slot_UI + '</div>';
        }

        slot_UI = slot_UI + '</div></div>';

        if (target_time.getTime() <= morning.getTime()) {
          count_m++;
          if (count_m > 4) {
            count_m = 1;
          }
          if (count_m == 1) {
            $('.morning_slots').append('<div class="row1"><div class="row2">' + slot_UI + '</div></div>');
          }
          else if (count_m == 2) {
            $('.morning_slots .row1:last .row2:last').append(slot_UI);
          }
          else if (count_m == 3) {
            $('.morning_slots .row1:last').append('<div class="row2">' + slot_UI + '</div>');
          }
          else if (count_m == 4) {
            $('.morning_slots .row1:last .row2:last').append(slot_UI);
          }
        }
        else if (target_time.getTime() > morning.getTime() && target_time.getTime() <= afternoon.getTime()) {
          count_a++;
          if (count_a > 4) {
            count_a = 1;
          }
          if (count_a == 1) {
            $('.afternoon_slots').append('<div class="row1"><div class="row2">' + slot_UI + '</div></div>');
          }
          else if (count_a == 2) {
            $('.afternoon_slots .row1:last .row2:last').append(slot_UI);
          }
          else if (count_a == 3) {
            $('.afternoon_slots .row1:last').append('<div class="row2">' + slot_UI + '</div>');
          }
          else if (count_a == 4) {
            $('.afternoon_slots .row1:last .row2:last').append(slot_UI);
          }
        }
        else if (target_time.getTime() > afternoon.getTime()) {
          count_e++;
          if (count_e > 4) {
            count_e = 1;
          }
          if (count_e == 1) {
            $('.evening_slots').append('<div class="row1"><div class="row2">' + slot_UI + '</div></div>');
          }
          else if (count_e == 2) {
            $('.evening_slots .row1:last .row2:last').append(slot_UI);
          }
          else if (count_e == 3) {
            $('.evening_slots .row1:last').append('<div class="row2">' + slot_UI + '</div>');
          }
          else if (count_e == 4) {
            $('.evening_slots .row1:last .row2:last').append(slot_UI);
          }
        }
      });
  })


  function disable(salon_id, timing_id, slot_type) {
        socket.emit("disable-slot", { salon_id: salon_id, timing_id: timing_id, slot_type: slot_type })
        location.reload()
    }
  function enable(salon_id, timing_id, slot_type) {
      console.log(slot_type)
      socket.emit("enable-slot", { salon_id: salon_id, timing_id: timing_id, slot_type: slot_type })
      location.reload()
  }
  </script>
</body>

</html>