<style>
    .inner-container{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .holiday-text{
        width: 800px;
        height: 78px;
    }
</style>
<div class="container my-3">
    <div class="inner-container">
        <img src="../static/images/clipart2594203.png" class="holiday-img" alt="holiday">
        <img src="../static/images/holiday-text.png" class="holiday-text" alt="holiday">
    </div>
</div>