<h1>hello</h1>
<script>
    const socket = io.connect('http://localhost:3000')
    socket.on('connected', (message) => {
        console.log(message)
    })
        
    socket.on('incoming-request-2', (message) => {
        console.log(message)
    })
</script>