<div class="final-bgm-for-about-page p-4">

        <div class="card-container-for-about-page shadow-lg shadow-xl">

            <div class="about-us-container pt-4 pb-4">
                <div class="about-us-card">
                    <h1 class="about-us-heading">About us</h1>
                    <p class="about-us-paragraph">Everyone, especially men will always try to be perfect or nearer enough to grab the attention and the admiration of the people who are belonged to his/her tribe.This helps them to create and belong to his own kind of fashion community.
                        We are very much understood this kind of unexposed pain will never be noticed to the common eye.</p>
                    <p class="about-us-paragraph">Feeling somewhat technical right.In simple,we are hardly trying to erase that small space of uncomfortable ness.
                        which is something like no cares about it, but atleast the least we can except in this fast track world.</p>
                </div>

                <div class="about-groomer-image-card">
                    <img src="https://i.ibb.co/xG22Y67/grooomer-2-ccexpress.png" class="about-image groomer">
                </div>
            </div>

            <div class="about-groomer-container  pt-4 pb-4">
                <div class="about-groomer-image-card">
                    <img src="https://ik.imagekit.io/qbz0qge1pjx/WhatsApp_Image_2021-12-24_at_7.37.47_PM_BxPZzRrJT.jpeg?updatedAt=1640677962358" class="groomer-image" />
                </div>
                <div class="about-groomer-card">
                    <h1 class="about-groomer-heading text-center">About Groomer</h1>
                    <p class="about-groomer-description">
                        we are trying to re enginner the way salon working now, Because our psychological scientists say's that for every 30 years we brainly required change in every aspect of life.
                        We are speaking about MEN AND WOMEN STYLING right, we can call it as TREND &#128526;
                        The main pain point that we are dealing with is the inconvenience in salon by time we approach for a cool look.
                        That is the time we want to refresh ourself.
                    </p>
                    <p class="about-groomer-description">
                        It is something we are concentrating on to give your 4 week reframing of yourself.
                        Our team don't know convert this into a business idea to make it as a billion dollar company.
                        That is the reason we created a crazy and idealistic SERVICE &#10084;&#65039;.
                    </p>
                    <p class="about-groomer-description">
                        This is the basic version for the world class project that we have taken as an OATH to built.
                        The best way to witness to stay with us in the journey.
                        GROOMER AND TEAM WARMFUL gratitude for you came this long to understand us.
                        Hope this great bond Continues.&#10084;&#65039;&#65039;&#128519;&#129309;&#127995;
                    </p>
                    <p class="about-groomer-sign">
                        -THE 99C
                    </p>
                    <button class="visit-button">Visit Blog</button>
                </div>

            </div>

            <div class="mission-values-section pt-4 pb-4">
                <div class="mission-values-image-card">
                    <img src="https://i.ibb.co/8rJxmdf/ab7edd5e-62f7-4359-aff6-8fcc001ec87c.jpg" alt="ab7edd5e-62f7-4359-aff6-8fcc001ec87c" class="mission-values-image mb-5" />
                </div>
                <div class="mission-values-heading-card">
                    <h1 class="mission-values-heading">Mission & Values</h1>
                </div>
                <div class="mission-values-green-box">
                </div>

            </div>

        </div>
        
    </div>

    <div>

    </div>






    <!-- To the Mobile Approach -->

    <div class="final-bgm-for-about-page-to-mbl shadow ">

        <div class="about-us-container-to-mbl pt-4 pb-4">
            <div class="about-us-card-to-mbl">
                <h1 class="about-us-heading-to-mbl">About us</h1>
                <p class="about-us-paragraph-to-mbl">Everyone, especially men will always try to be perfect or nearer enough to grab the attention and the admiration of the people who are belonged to his/her tribe.This helps them to create and belong to his own kind of fashion community.
                    We are very much understood this kind of unexposed pain will never be noticed to the common eye.</p>
                <p class="about-us-paragraph-to-mbl">Feeling somewhat technical right.In simple,we are hardly trying to erase that small space of uncomfortable ness.
                    which is something like no cares about it, but atleast the least we can except in this fast track world.</p>
            </div>

            <div class="about-us-image-card-to-mbl">
                <img src="https://i.ibb.co/xG22Y67/grooomer-2-ccexpress.png" class="about-image-to-mbl">
            </div>
        </div>

        <div class="about-groomer-container-to-mbl  pt-4 pb-4">
            <h1 class="about-groomer-heading-to-mbl text-center">About Groomer</h1>
            <div class="groomer-bg-img">
                <div class="about-groomer-image-container-to-mbl">

                    <div class="about-groomer-description-card-to-mbl">

                        <p class="about-groomer-description-to-mbl">
                            we are trying to re enginner the way salon working in this world now, Because our psychological scientists say's that for every 30 years we brainly required change in every aspect of life.
                            We are speaking about MEN AND WOMEN STYLING right, we can call it as TREND &#128526;
                            The main pain point that we are dealing with is the inconvenience in salon by time we approach for a cool look.
                            That is the time we want to refresh ourself.
                        </p>
                        <p class="about-groomer-description-to-mbl">
                            It is something we are concentrating on to give your 4 week reframing of yourself.
                            Our team don't know convert this into a business idea to make it as a billion dollar company.
                            That is the reason we created a crazy and idealistic SERVICE &#10084;&#65039;.
                        </p>
                        <p class="about-groomer-description-to-mbl">
                            This is the basic version for the world class project that we have taken as an OATH to built.
                            The best way to witness to stay with us in the journey.
                            GROOMER AND TEAM WARMFUL gratitude for you came this long to understand us.
                            Hope this great bond Continues.&#10084;&#65039;&#65039;&#128519;&#129309;&#127995;
                        </p>
                        <p class="about-groomer-sign-to-mbl">
                            -THE 99C
                        </p>
                        <div class="text-center">
                            <button class="visit-button-to-mbl">Visit Blog</button>
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <div class="mission-values-section-to-mbl pt-4 pb-4">

            <div class="mission-values-image-card-to-mbl">
                <img src="https://i.ibb.co/8rJxmdf/ab7edd5e-62f7-4359-aff6-8fcc001ec87c.jpg" alt="ab7edd5e-62f7-4359-aff6-8fcc001ec87c" class="mission-values-image-to-mbl " />
            </div>
            <div class="mission-values-heading-card-to-mbl">
                <h1 class="mission-values-heading-to-mbl">Mission & Values</h1>
            </div>

            <div class="mission-values-green-box-to-mbl">
            </div>

        </div>

    </div>

    </div>