<div>
      <div class="blog-container">
        <div class="hero_page blog-container01">
          <div class="blog-container02">
            <span class="blog-text">Get fashion updates with our</span>
            <div class="blog-container03">
              <span class="blog-text01">Groomer</span>
              <span class="blog-text02">Draft Your Vogue</span>
            </div>
            <p class="blog-text03">
              It&apos;s windy. The cool breeze of the ocean. It gives, a sense
              of beauty, in motion. All is flowing, rushing and tide-And I sit
              in wonder, dreaming beside.
            </p>
          </div>
          <img
            alt="image"
            src="/static/images/user/group_50.png"
            class="blog-image"
          />
          <img
            alt="image"
            src="/static/images/user/group_52.png"
            class="blog-image01"
          />
          <img
            alt="image"
            src="/static/images/user/design_circle.png"
            class="blog-image02"
          />
        </div>
        <div class="one_second_look blog-container04">
          <span class="blog-text04">one second look</span>
          <div class="blog-container05">
            <div class="blog-container06">
              <div class="blog-container07">
                <img
                  alt="image"
                  src="https://images.unsplash.com/photo-1464863979621-258859e62245?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDI0fHxnaXJsfGVufDB8fHx8MTY1MjMzODUwMg&amp;ixlib=rb-1.2.1&amp;w=1500"
                  class="blog-image03"
                />
              </div>
              <div class="blog-container08">
                <div class="blog-container09">
                  <img
                    alt="image"
                    src="https://w7.pngwing.com/pngs/470/246/png-transparent-new-york-city-the-new-york-times-company-news-the-new-york-times-international-edition-natural-gas-miscellaneous-text-trademark-thumbnail.png"
                    class="blog-image04"
                  />
                  <span class="blog-text05">The new york times</span>
                </div>
                <span class="blog-text06">Must see places for summer</span>
                <span class="blog-text07">
                  Lorem Ipsum is simply dummy text of the printing and
                  typesetting industry. Lorem Ipsum has been the industry&apos;s
                  standard dummy text ever since the 1500s, when an unknown
                  printer took a galley of type and scrambled it to make a type
                  specimen book. It has survived not only five centuries.
                </span>
                <span class="blog-text08">View More</span>
              </div>
            </div>
            <div class="blog-container10">
              <div class="blog-container11">
                <img
                  alt="image"
                  src="https://images.unsplash.com/photo-1609505848912-b7c3b8b4beda?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDM3fHxnaXJsfGVufDB8fHx8MTY1MjMzODUyNQ&amp;ixlib=rb-1.2.1&amp;w=1500"
                  class="blog-image05"
                />
              </div>
              <div class="blog-container12">
                <div class="blog-container13">
                  <img
                    alt="image"
                    src="https://w7.pngwing.com/pngs/470/246/png-transparent-new-york-city-the-new-york-times-company-news-the-new-york-times-international-edition-natural-gas-miscellaneous-text-trademark-thumbnail.png"
                    class="blog-image06"
                  />
                  <span class="blog-text09">The new york times</span>
                </div>
                <span class="blog-text10">Must see places for summer</span>
                <span class="blog-text11">
                  Lorem Ipsum is simply dummy text of the printing and
                  typesetting industry. Lorem Ipsum has been the industry&apos;s
                  standard dummy text ever since the 1500s, when an unknown
                  printer took a galley of type and scrambled it to make a type
                  specimen book. It has survived not only five centuries.
                </span>
                <span class="blog-text12">View More</span>
              </div>
            </div>
          </div>
        </div>
        <div class="collections blog-container14">
          <span class="blog-text13">collections</span>
          <div class="blog-container15">
            <div class="blog-container16">
              <img
                alt="image"
                src="https://lh3.googleusercontent.com/UWmzySZ2RMB4LqYuhiKD3UcIMO9vbDQgmIviSjPY725PX1Ql_bgjTUjq589XPfSXbwydEHHaGm0ZcDCyZlIGe3YrHq26fQSZLYITFSE=w1536-h754-rw-sm-pa-nu-v0"
                class="blog-image07"
              />
              <img
                alt="image"
                src="/static/images/user/vector.png"
                class="blog-image08"
              />
            </div>
            <div class="blog-container17">
              <div class="blog-container18">
                <div class="blog-gallery-card">
                  <img
                    alt="image"
                    src="https://lh3.googleusercontent.com/EtUG9-WVKku0X4rz7-DvFQSkQ8MHOTikpRr6L2MwIIb7dfRMoaFTKLqTAnNkAXjX-LpmHmNAYyPeHB59PYRkDscKcoQn7VC6_YdHrQ=w255-h255-rw-sm-pa-c-v0"
                    class="blog-image09"
                  />
                  <div class="blog-container19">
                    <h2 class="blog-text14">Project Title</h2>
                    <span class="blog-text15">Lorem ipsum dolor sit amet</span>
                  </div>
                </div>
                <div class="blog-gallery-card1">
                  <img
                    alt="image"
                    src="https://lh3.googleusercontent.com/SOfnqwtq3B-RJR7fcVFL9Iw5irUt574csUVT_gufUvXhutMWhm8VoLwqJzgIOgGtXJC_YOO9IGvUJFEGEfQdTdpWH_iaRgrr8vm6=w255-h255-rw-sm-pa-c-v0"
                    class="blog-image10"
                  />
                  <div class="blog-container20">
                    <h2 class="blog-text16">Project Title</h2>
                    <span class="blog-text17">Lorem ipsum dolor sit amet</span>
                  </div>
                </div>
                <img
                  alt="image"
                  src="/static/images/user/frame-68.png"
                  class="blog-image11"
                />
              </div>
              <div class="blog-container21">
                <img
                  alt="image"
                  src="/static/images/user/frame-68.png"
                  class="blog-image12"
                />
                <div class="blog-gallery-card2">
                  <img
                    alt="image"
                    src="https://lh3.googleusercontent.com/HUtKWd-VOSSsnMx7juNnD67-FB5PM8U-ciwyEs1xuXxjiRp_kDp2yX7K4TZo7W8VR4mzhPxJrcFEKIh1WnHTr0MqpUFNZghWtzXW7g=w255-h255-rw-sm-pa-c-v0"
                    class="blog-image13"
                  />
                  <div class="blog-container22">
                    <h2 class="blog-text18">Project Title</h2>
                    <span class="blog-text19">Lorem ipsum dolor sit amet</span>
                  </div>
                </div>
                <div class="blog-gallery-card3">
                  <img
                    alt="image"
                    src="https://lh3.googleusercontent.com/CUHe4uXoHTuXRxIEq16c2ZuFfVukAveZc2TnHL94IN7J_2jyTO4ETB2CpUuC4GJOQWeoRQ_qJyQECpCJW9J1Prs1MjTHgCxXf5Gzdg=w255-h255-rw-sm-pa-c-v0"
                    class="blog-image14"
                  />
                  <div class="blog-container23">
                    <h2 class="blog-text20">Project Title</h2>
                    <span class="blog-text21">Lorem ipsum dolor sit amet</span>
                  </div>
                </div>
              </div>
              <div class="blog-container24">
                <div class="blog-gallery-card4">
                  <img
                    alt="image"
                    src="https://lh3.googleusercontent.com/8HFYf1odL8gdx75-g0Ico-3Gl_DwDORt9vev5mn1gGSdAg3yW4R-QWvaVhJxn1HGTzXhcIu4OYerRYJEo0G-KnfMxk-gPiGW3uFfAQM=w255-h255-rw-sm-pa-c-v0"
                    class="blog-image15"
                  />
                  <div class="blog-container25">
                    <h2 class="blog-text22">Project Title</h2>
                    <span class="blog-text23">Lorem ipsum dolor sit amet</span>
                  </div>
                </div>
                <div class="blog-gallery-card5">
                  <img
                    alt="image"
                    src="https://lh3.googleusercontent.com/rhz5rlPJ_1Hn-lMv0QF9xw7qDLAKsWWlbaVP5_DypEWks-SN5ejE6t9ZVJlyW7W561gIpA0MFESl0X-jbxgaxdX4EqTqmcafNZ-u=w255-h255-rw-sm-pa-c-v0"
                    class="blog-image16"
                  />
                  <div class="blog-container26">
                    <h2 class="blog-text24">Project Title</h2>
                    <span class="blog-text25">Lorem ipsum dolor sit amet</span>
                  </div>
                </div>
                <img
                  alt="image"
                  src="/static/images/user/frame-68.png"
                  class="blog-image17"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="blog-container27 latest_news">
          <span class="blog-text26">latest news</span>
          <img
            alt="image"
            src="/static/images/user/group_51.png"
            class="blog-image18"
          />
          <div class="blog-container28">
            <div class="blog-container29">
              <div class="blog-container30">
                <img
                  alt="image"
                  src="https://images.unsplash.com/photo-1492662255087-d9e0dee2a572?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDY5fHxyYWlzaW5nJTIwZmxvd2VyfGVufDB8fHx8MTY1MjM0NDgzMA&amp;ixlib=rb-1.2.1&amp;w=200"
                  class="blog-image19"
                />
                <span>
                  It&apos;s windy. The cool breeze of the ocean. It gives, a
                  sense of beauty, in motion. All is flowing, rushing and
                  tide-And I sit in wonder, dreaming beside.
                </span>
              </div>
              <div class="blog-container31">
                <img
                  alt="image"
                  src="https://images.unsplash.com/photo-1590401884554-7b896e6db582?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDE3fHxsYWtlfGVufDB8fHx8MTY1MjM1MjA1NA&amp;ixlib=rb-1.2.1&amp;w=200"
                  class="blog-image20"
                />
                <span>
                  It&apos;s windy. The cool breeze of the ocean. It gives, a
                  sense of beauty, in motion. All is flowing, rushing and
                  tide-And I sit in wonder, dreaming beside.
                </span>
              </div>
            </div>
            <div class="blog-container32">
              <div class="blog-container33">
                <img
                  alt="image"
                  src="https://images.unsplash.com/photo-1590930180621-fc7027a21559?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDE5fHxtb3VudGFpbnMlMjBzY2FwZXN8ZW58MHx8fHwxNjUyMzUxOTU5&amp;ixlib=rb-1.2.1&amp;w=200"
                  class="blog-image21"
                />
                <span>
                  It&apos;s windy. The cool breeze of the ocean. It gives, a
                  sense of beauty, in motion. All is flowing, rushing and
                  tide-And I sit in wonder, dreaming beside.
                </span>
              </div>
              <div class="blog-container34">
                <img
                  alt="image"
                  src="https://images.unsplash.com/photo-1489493512598-d08130f49bea?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDQwfHxzdW5zZXR8ZW58MHx8fHwxNjUyMzUyMDc2&amp;ixlib=rb-1.2.1&amp;w=200"
                  class="blog-image22"
                />
                <span>
                  It&apos;s windy. The cool breeze of the ocean. It gives, a
                  sense of beauty, in motion. All is flowing, rushing and
                  tide-And I sit in wonder, dreaming beside.
                </span>
              </div>
            </div>
            <div class="blog-container35">
              <div class="blog-container36">
                <img
                  alt="image"
                  src="https://images.unsplash.com/flagged/photo-1565187625775-d16a157b9234?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDIwfHxib2F0aW5nfGVufDB8fHx8MTY1MjM1MTk3NA&amp;ixlib=rb-1.2.1&amp;w=200"
                  class="blog-image23"
                />
                <span>
                  It&apos;s windy. The cool breeze of the ocean. It gives, a
                  sense of beauty, in motion. All is flowing, rushing and
                  tide-And I sit in wonder, dreaming beside.
                </span>
              </div>
              <div class="blog-container37">
                <img
                  alt="image"
                  src="https://images.unsplash.com/photo-1498330177096-689e3fb901ca?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDF8fHdhdmVzfGVufDB8fHx8MTY1MjM1MjExOA&amp;ixlib=rb-1.2.1&amp;w=200"
                  class="blog-image24"
                />
                <span>
                  It&apos;s windy. The cool breeze of the ocean. It gives, a
                  sense of beauty, in motion. All is flowing, rushing and
                  tide-And I sit in wonder, dreaming beside.
                </span>
              </div>
            </div>
          </div>
          <span class="blog-text33">More News</span>
        </div>
        <div class="blog-container38 discoveries">
          <span class="blog-text34">Discoveries</span>
          <div class="blog-container39">
            <img
              alt="image"
              src="/static/images/user/background-leafs.png"
              class="blog-image25"
            />
          </div>
          <div class="blog-container40">
            <div class="blog-container41">
              <img
                alt="image"
                src="https://lh3.googleusercontent.com/bQdxU6F2fTvGzXptFYFDhFDU8GDV8seQQY5-yqLCjpxd5hhACX7cS1asc6660y02LdRbpzON7cBRMk1BaVr-cZmHI3y6ttP790klxA=w1536-h754-rw-sm-pa-nu-v0"
                class="blog-image26"
              />
              <img
                alt="image"
                src="/static/images/user/design-circle-red.png"
                class="blog-image27"
              />
              <img
                alt="image"
                src="/static/images/user/frame-69.png"
                class="blog-image28"
              />
              <img
                alt="image"
                src="/static/images/user/vector-1.png"
                class="blog-image29"
              />
            </div>
            <div class="blog-container42">
              <div class="blog-container43">
                <div class="blog-container44">
                  <img
                    alt="image"
                    src="https://images.unsplash.com/photo-1432915691818-8ed7370d5607?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDI0fHxjb2NvbnV0JTIwbGFrZXxlbnwwfHx8fDE2NTIzNTQxNzY&amp;ixlib=rb-1.2.1&amp;w=1500"
                    class="blog-image30"
                  />
                  <span class="blog-text35">
                    It&apos;s windy. The cool breeze of the ocean.
                  </span>
                </div>
                <div class="blog-container45">
                  <img
                    alt="image"
                    src="https://images.unsplash.com/photo-1432915691818-8ed7370d5607?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDI0fHxjb2NvbnV0JTIwbGFrZXxlbnwwfHx8fDE2NTIzNTQxNzY&amp;ixlib=rb-1.2.1&amp;w=1500"
                    class="blog-image31"
                  />
                  <span class="blog-text36">
                    It&apos;s windy. The cool breeze of the ocean.
                  </span>
                </div>
                <div class="blog-container46">
                  <img
                    alt="image"
                    src="https://images.unsplash.com/photo-1432915691818-8ed7370d5607?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDI0fHxjb2NvbnV0JTIwbGFrZXxlbnwwfHx8fDE2NTIzNTQxNzY&amp;ixlib=rb-1.2.1&amp;w=1500"
                    class="blog-image32"
                  />
                  <span class="blog-text37">
                    It&apos;s windy. The cool breeze of the ocean.
                  </span>
                </div>
              </div>
              <div class="blog-container47">
                <div class="blog-container48">
                  <img
                    alt="image"
                    src="https://images.unsplash.com/photo-1432915691818-8ed7370d5607?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDI0fHxjb2NvbnV0JTIwbGFrZXxlbnwwfHx8fDE2NTIzNTQxNzY&amp;ixlib=rb-1.2.1&amp;w=1500"
                    class="blog-image33"
                  />
                  <span class="blog-text38">
                    It&apos;s windy. The cool breeze of the ocean.
                  </span>
                </div>
                <div class="blog-container49">
                  <img
                    alt="image"
                    src="https://images.unsplash.com/photo-1432915691818-8ed7370d5607?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDI0fHxjb2NvbnV0JTIwbGFrZXxlbnwwfHx8fDE2NTIzNTQxNzY&amp;ixlib=rb-1.2.1&amp;w=1500"
                    class="blog-image34"
                  />
                  <span class="blog-text39">
                    It&apos;s windy. The cool breeze of the ocean.
                  </span>
                </div>
                <div class="blog-container50">
                  <img
                    alt="image"
                    src="https://images.unsplash.com/photo-1432915691818-8ed7370d5607?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDI0fHxjb2NvbnV0JTIwbGFrZXxlbnwwfHx8fDE2NTIzNTQxNzY&amp;ixlib=rb-1.2.1&amp;w=1500"
                    class="blog-image35"
                  />
                  <span class="blog-text40">
                    It&apos;s windy. The cool breeze of the ocean.
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>