<div>
      <div class="services1-container">
        <div class="services1-container01">
          <div class="services1-container02">
            <p class="services1-text">
              <span>Start to explore our wide</span>
              <br />
              <span></span>
              <span>range of services</span>
            </p>
            <div class="services1-container03">
              <div class="services1-container04">
                <div class="services1-container05">
                  <span class="services1-text5">Date</span>
                  <div class="services1-container06">
                    <input
                      type="text"
                      placeholder="placeholder"
                      class="services1-textinput input"
                    />
                    <svg viewBox="0 0 1024 1024" class="services1-icon">
                      <path
                        d="M320 384h128v128h-128zM512 384h128v128h-128zM704 384h128v128h-128zM128 768h128v128h-128zM320 768h128v128h-128zM512 768h128v128h-128zM320 576h128v128h-128zM512 576h128v128h-128zM704 576h128v128h-128zM128 576h128v128h-128zM832 0v64h-128v-64h-448v64h-128v-64h-128v1024h960v-1024h-128zM896 960h-832v-704h832v704z"
                      ></path>
                    </svg>
                  </div>
                </div>
                <div class="services1-container07">
                  <span class="services1-text6">Time</span>
                  <div class="services1-container08">
                    <input
                      type="text"
                      placeholder="placeholder"
                      class="services1-textinput1 input"
                    />
                    <svg viewBox="0 0 1024 1024" class="services1-icon2">
                      <path
                        d="M658.744 749.256l-210.744-210.746v-282.51h128v229.49l173.256 173.254zM512 0c-282.77 0-512 229.23-512 512s229.23 512 512 512 512-229.23 512-512-229.23-512-512-512zM512 896c-212.078 0-384-171.922-384-384s171.922-384 384-384c212.078 0 384 171.922 384 384s-171.922 384-384 384z"
                      ></path>
                    </svg>
                  </div>
                </div>
              </div>
              <div class="services1-container09">
                <span class="services1-text7">Location</span>
                <div class="services1-container10">
                  <input
                    type="text"
                    placeholder="placeholder"
                    class="services1-textinput2 input"
                  />
                  <svg viewBox="0 0 1024 1024" class="services1-icon4">
                    <path
                      d="M512 213.333c68.651 0 133.12 26.197 181.504 73.813 48.043 47.232 74.496 110.037 74.496 176.64s-26.453 129.28-74.453 176.597l-181.547 178.517-181.504-178.603c-48-47.232-74.453-109.909-74.453-176.597s26.453-129.365 74.453-176.683c48.427-47.488 112.939-73.685 181.504-73.685M512 128c-87.339 0-174.763 32.768-241.365 98.347-133.291 131.157-133.291 343.765 0 474.923l241.365 237.355 241.365-237.44c133.291-131.072 133.291-343.723 0-474.837-66.603-65.579-153.984-98.347-241.365-98.347z"
                    ></path>
                    <path
                      d="M512 362.624c28.501 0 55.296 11.093 75.435 31.189 41.643 41.643 41.643 109.312 0 150.912-20.181 20.139-46.933 31.189-75.435 31.189s-55.253-11.093-75.435-31.189c-41.643-41.643-41.643-109.312 0-150.912 20.181-20.096 46.976-31.189 75.435-31.189M512 319.957c-38.229 0-76.459 14.592-105.6 43.691-58.325 58.325-58.325 152.917 0 211.243 29.184 29.184 67.328 43.691 105.6 43.691s76.459-14.592 105.6-43.691c58.283-58.325 58.283-152.917 0-211.243-29.141-29.141-67.371-43.691-105.6-43.691z"
                    ></path>
                  </svg>
                </div>
              </div>
            </div>
            <div class="services1-container11">
              <button class="services1-button button">EXPLORE NOW</button>
              <span class="services1-text8">
                *Terms and conditions are applied
              </span>
            </div>
          </div>
          <img
            alt="108591015"
            src="/static/images/user/108591015-jo31-1500w.png"
            class="services1-image"
          />
        </div>
      </div>
    </div>