<form action="/user/signup" method="post">
    <div class="container my-3">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput" name="username" placeholder="name@example.com">
            <label for="floatingInput">Username</label>
        </div>
        <div class="form-floating mb-3">
            <input type="email" class="form-control"  name="email" placeholder="name@example.com">
            <label for="floatingInput">Email</label>
        </div>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" name="name" placeholder="name@example.com">
            <label for="floatingInput">Name</label>
        </div>
        <div class="form-floating">
            <input type="password" class="form-control" id="floatingPassword" name="password" placeholder="Password">
            <label for="floatingPassword">Password</label>
        </div>
        <div class="form-floating my-3">
            <input type="password" class="form-control"  name="repassword" placeholder="Password">
            <label for="floatingPassword">Re-Password</label>
        </div>
        <button type="submit" class="btn btn-primary">Sign Up</button>
    </div>
</form>