<div class="home-container">
    <div class="home-container01">
        <div class="home-container02">
            <img alt="image" src="/static/images/user/lf20_gigyrcoy.json_-removebg-preview-800w.png"
                class="home-image" />
            <h3 class="home-text">
                <span>Don&apos;t forgot</span>
                <span>Groomer is</span>
                <span>here.</span>
            </h3>
            <p class="home-text04">
                Contrary to popular belief, Lorem Ipsum is not simply random text.
                It has roots in a piece of classical Latin literature from 45 BC,
                making it over 2000 years old. Richard McClintock, a Latin
                professor at Hampden-Sydney College in Virginia.
            </p>
            <button class="home-button button">Book Now</button>
        </div>
        <img alt="image" src="/static/images/user/image-800h.png" class="home-image01" />
    </div>
    <div class="home-container03">
        <div class="home-container04">
            <img alt="image" src="/static/images/user/image2-1400w.png" class="home-image02" />
            <div class="home-container05">
                <h2>
                    <span>We are here to give you better</span>
                    <br />
                    <span>then you except.</span>
                </h2>
                <span class="home-text09">
                    Contrary to popular belief, Lorem Ipsum is not simply random
                    text. It has roots in a piece of classical Latin literature from
                    45 BC, making it over 2000 years old. Richard McClintock, a
                    Latin professor at Hampden-Sydney College in Virginia.
                </span>
            </div>
        </div>
    </div>
    <div class="home-container06">
        <h1>Our Promise</h1>
        <span class="home-text11">
            <span>
                Some of the features and advantages that we provide for those of
                you who
            </span>
            <br />
            <span>store data in this Data Warehouse</span>
        </span>
        <div class="home-container07">
            <div class="home-container08">
                <div class="home-container09">
                    <img alt="image" src="/static/images/user/image-800h.png"
                        class="home-image03" />
                    <img alt="image" src="/static/images/user/rectangle39-200h.png" class="home-image04" />
                    <div class="home-container10">
                        <h3 class="home-text15">Never Experienced Service</h3>
                        <span class="home-text16">
                            It is a long established fact that a reader will be
                            distracted by the readable content of a page when looking at
                            its layout.
                        </span>
                        <div class="home-container11">
                            <span class="home-text17">Learn More</span>
                            <img alt="image" src="/static/images/user/group%2056-1500h.png" class="home-image05" />
                        </div>
                    </div>
                </div>
                <div class="home-container12">
                    <img alt="image" src="/static/images/user/image4-1500h.png" class="home-image06" />
                    <div class="home-container13">
                        <h3 class="home-text18">Never Experienced Service</h3>
                        <span class="home-text19">
                            It is a long established fact that a reader will be
                            distracted by the readable content of a page when looking at
                            its layout.
                        </span>
                        <div class="home-container14">
                            <span class="home-text20">Learn More</span>
                            <img alt="image" src="/static/images/user/group%2056-1500h.png" class="home-image07" />
                        </div>
                    </div>
                    <img alt="image" src="/static/images/user/rectangle%2039-2-200h.png" class="home-image08" />
                </div>
            </div>
            <div class="home-container15">
                <div class="home-container16">
                    <img alt="image" src="/static/images/user/image5%201-1500h.png" class="home-image09" />
                    <div class="home-container17">
                        <h3 class="home-text21">Never Experienced Service</h3>
                        <span class="home-text22">
                            It is a long established fact that a reader will be
                            distracted by the readable content of a page when looking at
                            its layout.
                        </span>
                        <div class="home-container18">
                            <span class="home-text23">Learn More</span>
                            <img alt="image" src="/static/images/user/group%2056-1500h.png" class="home-image10" />
                        </div>
                    </div>
                    <img alt="image" src="/static/images/user/rectangle39-1-200h.png" class="home-image11" />
                    <img alt="image" src="/static/images/user/ellipse%2061-2-1500h.png" class="home-image12" />
                </div>
                <div class="home-container19">
                    <img alt="image" src="/static/images/user/image6%201%20%5B1%5D-1400h.png"
                        class="home-image13" />
                    <img alt="image" src="/static/images/user/rectangle39-200h.png" class="home-image14" />
                    <div class="home-container20">
                        <h3 class="home-text24">Never Experienced Service</h3>
                        <span class="home-text25">
                            It is a long established fact that a reader will be
                            distracted by the readable content of a page when looking at
                            its layout.
                        </span>
                        <div class="home-container21">
                            <span class="home-text26">Learn More</span>
                            <img alt="image" src="/static/images/user/group%2056-1500h.png" class="home-image15" />
                        </div>
                    </div>
                    <img alt="image" src="/static/images/user/ellipse%2061-2-1500h.png" class="home-image16" />
                </div>
            </div>
        </div>
    </div>
    <div class="home-container22">
        <img alt="image" src="https://s22.postimg.cc/ngd2my9qp/n-blue-circle.png" class="home-image17" />
        <!-- Swiper -->
        <div class="swiper mySwiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="home-container23">
                        <span class="home-text27">Hannah Schmitt</span>
                        <span class="home-text28">Lead Designer</span>
                        <p class="home-text29">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                            enim ad minim veniam, quis nostrud exercitation ullamco laboris
                            nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                            reprehenderit in voluptate velit esse cillum dolore eu fugiat
                            nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                            sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </p>
                        <img alt="image"
                            src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDV8fGdpcmx8ZW58MHx8fHwxNjU1NzU1MTA0&amp;ixlib=rb-1.2.1&amp;w=1500"
                            class="home-image18" />
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="home-container23">
                        <span class="home-text27">Steven Schot</span>
                        <span class="home-text28">Lead Designer</span>
                        <p class="home-text29">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                            enim ad minim veniam, quis nostrud exercitation ullamco laboris
                            nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                            reprehenderit in voluptate velit esse cillum dolore eu fugiat
                            nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                            sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </p>
                        <img alt="image"
                            src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDV8fGdpcmx8ZW58MHx8fHwxNjU1NzU1MTA0&amp;ixlib=rb-1.2.1&amp;w=1500"
                            class="home-image18" />
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="home-container23">
                        <span class="home-text27">Louis Schavenger</span>
                        <span class="home-text28">Lead Architech</span>
                        <p class="home-text29">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                            enim ad minim veniam, quis nostrud exercitation ullamco laboris
                            nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                            reprehenderit in voluptate velit esse cillum dolore eu fugiat
                            nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                            sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </p>
                        <img alt="image"
                            src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDV8fGdpcmx8ZW58MHx8fHwxNjU1NzU1MTA0&amp;ixlib=rb-1.2.1&amp;w=1500"
                            class="home-image18" />
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="home-container23">
                        <span class="home-text27">Altaz</span>
                        <span class="home-text28">Designer</span>
                        <p class="home-text29">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                            enim ad minim veniam, quis nostrud exercitation ullamco laboris
                            nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                            reprehenderit in voluptate velit esse cillum dolore eu fugiat
                            nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                            sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </p>
                        <img alt="image"
                            src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDV8fGdpcmx8ZW58MHx8fHwxNjU1NzU1MTA0&amp;ixlib=rb-1.2.1&amp;w=1500"
                            class="home-image18" />
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="home-container23">
                        <span class="home-text27">Tony Shratk</span>
                        <span class="home-text28">Business associate</span>
                        <p class="home-text29">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                            enim ad minim veniam, quis nostrud exercitation ullamco laboris
                            nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                            reprehenderit in voluptate velit esse cillum dolore eu fugiat
                            nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                            sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </p>
                        <img alt="image"
                            src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDV8fGdpcmx8ZW58MHx8fHwxNjU1NzU1MTA0&amp;ixlib=rb-1.2.1&amp;w=1500"
                            class="home-image18" />
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="home-container23">
                        <span class="home-text27">Cholle Hermoza</span>
                        <span class="home-text28">Relation manager</span>
                        <p class="home-text29">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                            enim ad minim veniam, quis nostrud exercitation ullamco laboris
                            nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                            reprehenderit in voluptate velit esse cillum dolore eu fugiat
                            nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                            sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </p>
                        <img alt="image"
                            src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDV8fGdpcmx8ZW58MHx8fHwxNjU1NzU1MTA0&amp;ixlib=rb-1.2.1&amp;w=1500"
                            class="home-image18" />
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="home-container23">
                        <span class="home-text27">Kevin Martin</span>
                        <span class="home-text28">Automobile Engineer</span>
                        <p class="home-text29">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                            enim ad minim veniam, quis nostrud exercitation ullamco laboris
                            nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                            reprehenderit in voluptate velit esse cillum dolore eu fugiat
                            nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                            sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </p>
                        <img alt="image"
                            src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDV8fGdpcmx8ZW58MHx8fHwxNjU1NzU1MTA0&amp;ixlib=rb-1.2.1&amp;w=1500"
                            class="home-image18" />
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="home-container23">
                        <span class="home-text27">Austin Luther</span>
                        <span class="home-text28">Fashion designer</span>
                        <p class="home-text29">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                            enim ad minim veniam, quis nostrud exercitation ullamco laboris
                            nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                            reprehenderit in voluptate velit esse cillum dolore eu fugiat
                            nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                            sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </p>
                        <img alt="image"
                            src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDV8fGdpcmx8ZW58MHx8fHwxNjU1NzU1MTA0&amp;ixlib=rb-1.2.1&amp;w=1500"
                            class="home-image18" />
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="home-container23">
                        <span class="home-text27">Lumos Hearthway</span>
                        <span class="home-text28">Defuser</span>
                        <p class="home-text29">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                            enim ad minim veniam, quis nostrud exercitation ullamco laboris
                            nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                            reprehenderit in voluptate velit esse cillum dolore eu fugiat
                            nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                            sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </p>
                        <img alt="image"
                            src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDV8fGdpcmx8ZW58MHx8fHwxNjU1NzU1MTA0&amp;ixlib=rb-1.2.1&amp;w=1500"
                            class="home-image18" />
                    </div>
                </div>
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
</div>
<!-- Swiper JS -->
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
    crossorigin="anonymous"></script>

<script>
    var swiper = new Swiper(".mySwiper", {
        cssMode: true,
        navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
        },
        mousewheel: true,
        keyboard: true,
    });
</script>